<!-- Bootstrap Core CSS -->
<link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional fonts for this theme -->
<link href="assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Custom styles for this theme -->
<link href="assets/css/clean-blog.min.css" rel="stylesheet">

<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand page-scroll" href="index.html">How to start your hike!</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="index.html">Trip Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="about.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="post.html">Preparation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
